/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Arapey&display=swap');

/* Visit Mauritius Font */
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');

/* Global */
* {
  margin: 0px;
  padding: 0px;
  font-family: 'Arapey', serif;
}

nav {
  background-color: #131a6d !important;
}

/* Visit Mauritius  */
.brand-logo {
  font-family: 'Marck Script', cursive;
}

/* Image slider homepage size */
.slides {
  /* height: 91.6vh !important; */
}

/* About Mauritius */
.about_mauritius_section {
  background-color: #131a6d;
  padding-top: 20px;
  padding-bottom: 8px;
}

.about_mauritius_p {
  padding-bottom: 15px;
  padding-top: 15px;
}

.about_mauritius_btn {
  background-color: #ffd600;
  color: #000000 !important;
}

.about_mauritius_btn:hover {
  background-color: #00a650;
  color: #ffffff;
}

/* Newsletter section */
.newsletter_div {
  margin-bottom: 0px;
  margin-top: 0px;
}

.newsletter_p {
  padding-top: 10px;
  margin-top: 0px;
}

.news_letter_btn {
  min-width: 100%;
  background-color: #ffd600;
  color: #000000;
}

.news_letter_btn:hover {
  min-width: 100%;
  background-color: #00a650;
  color: #ffffff;
}

/* We arrange cards */
.icon {
  background-color: #131a6d;
}

.h4_row {
  /* margin-bottom: 0px;
  margin-top: 0px !important; */
  margin: 0px !important;
}

.we_arrange_your_h4 {
  padding-top: 15px !important;
}

.h4 {
  /* padding-top: 10px !important; */
  /* padding-bottom: 10px !important; */
}

.card_1 {
  background-color: #eb2436 !important;
}

.card_2 {
  background-color: #ffd600 !important;
}

.card_3 {
  background-color: #00a650 !important;
}

/* .locations_section {
  background-color: #00a650 !important;
} */

/* Popular locations card image */
.card_img {
  height: 160px !important;
}

/* Gallery */
.gallery {
  background-color: #131a6d;
  padding-bottom: 10px;
}

.photo_gallery_h5 {
  padding-top: 15px;
  padding-bottom: 10px;
}

.materialboxed {
  padding-bottom: 10px;
  margin-bottom: 0px;
}

.footer {
  background-color: #131a6d !important;
}

.social_icon {
  font-size: 3rem;
  padding-left: 5px;
}

/* Contact Us Form */
.contact_us_h5 {
  margin-bottom: 0px !important;
}

.contact_form_input {
  margin-bottom: 0px !important;
}

#your_name,
#your_email,
#your_phone_number,
#your_message {
  /* border: 1px solid #131a6d; */
  padding-left: 5px;
}

#your_name,
#your_email,
#your_phone_number {
  /* margin-bottom: 10px !important; */
}

.send_message_btn {
  min-width: 100%;
  background-color: #ffd600;
  color: #000000;
  margin-top: 10px !important;
}

.send_message_btn:hover {
  min-width: 100%;
  background-color: #00a650;
  color: #ffffff;
}

.hr_container {
  max-width: 50%;
}

.footer_section {
  background-color: #131a6d;
}