/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Arapey&display=swap');

/* Visit Mauritius Font */
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');

/* Global */
* {
  margin: 0px;
  padding: 0px;
  font-family: 'Arapey', serif;
}

nav {
  background-color: #131a6d !important;
}

/* Visit Mauritius  */
.brand-logo {
  font-family: 'Marck Script', cursive;
}

/* Image slider homepage size */
.slides {
  /* height: 91.6vh !important; */
}

.newsletter_p {
  padding-top: 10px;
}

.news_letter_btn {
  min-width: 100%;
  background-color: #ffd600;
  color: #000000;
  margin-top: 10px !important;
}

.news_letter_btn:hover {
  min-width: 100%;
  background-color: #00a650;
  color: #ffffff;
}

/* We arrange cards */
.icon {
  background-color: #131a6d;
}

.h4_row,
h4 {
  /* margin-bottom: 0px;
  margin-top: 0px !important; */
  margin: 0px !important;
}

.h4 {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.card_1 {
  background-color: #eb2436 !important;
}

.card_2 {
  background-color: #ffd600 !important;
}

.card_3 {
  background-color: #00a650 !important;
}

/* .locations_section {
  background-color: #00a650 !important;
} */

/* Popular locations card image */
.card_img {
  height: 160px !important;
}

/* Gallery */
.materialboxed {
  padding-bottom: 10px;
  margin-bottom: 0px;
}

.footer {
  background-color: #131a6d !important;
}

.social_icon {
  font-size: 3rem;
  padding-left: 5px;
}